# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
plugins/
target/
lib/
jobs/
nohup.out
flinkconf/
hadoopconf/
docs
/default_task_id_output
/syncplugins
/ci/
*.classpath
*.project
.settings/
*.iml
*/*/*.iml
*/*.iml
*/*/target
